
@use 'vars';
@use 'sass:color';

// C O M M O N  -  S T Y L E S 
//------------------------------------------------------------
// TEXT - CONTENT
.text-primary {
    color: vars.$primary!important;
}
.text-secundary, .text-grey__dark, .text-secondary {
    color: vars.$grey_dark!important;
}
.text-light {
    color: vars.$grey_light!important;
}
.text-white-light {
    color: rgba(vars.$white, 0.85);
}
.text-tertiary {
    color: vars.$red_light;
}

//------------------------------------------------------------
// BACKGROUNDS
.bg-white {
    background-color: vars.$white!important;
}
.bg-primary {
    background-color: vars.$primary!important;
}
.bg-secundary {
    background-color: vars.$grey_dark!important;
}
.bg-secundary-light-1 {
    background-color: color.adjust(vars.$grey_dark, $lightness: 3%);
}


//------------------------------------------------------------
// BUTTONS
.btn.lp {
    border-radius: 2rem;
    padding: .6rem 2rem;
    font-weight: bold;
    overflow: hidden;
    z-index: 1;

    &.btn-primary {
        background-color: vars.$primary;
        border-color: vars.$primary;
        position: relative;
        box-sizing: border-box;
        border-width: 2px;

        &:hover, &:active, &:active {
            background-color: vars.$white;
            border-color: vars.$primary;
            color: vars.$secundary;
            transition: all .5s ease;

            &:after { // &:before:focus
                left: .25rem;
                color: vars.$primary;
            }

            // FORM
            &:before {
                left: -15%;
                width: 130%;
                z-index: -1;
            }
        }
        &:active {
            background-color: color.adjust(vars.$primary, $lightness: 5%);
            border-color: color.adjust(vars.$primary, $lightness: 5%);
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(vars.$primary, .5);
        }

        // FORM - HOVER
        &:before {
            content: "";
            position: absolute;
            width: 0;
            background: vars.$white;
            height: 100%;
            top: 0;
            left: 50%;
            transform: skew(45deg, 0);
            transition: all .6s ease;
        }

        // ICON
        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f138";
            position: relative;
            left: 0.75rem;
            top: .1rem;
            transition: all .4s ease;
        }
    }

    &.btn-tertiary {
        background-color: vars.$tertiary;
        border-color: vars.$tertiary;
        position: relative;
        box-sizing: border-box;
        border-width: 2px;
        color: vars.$white;

        &:hover, &:active, &:active {
            background-color: vars.$white;
            border-color: vars.$tertiary;
            color: vars.$secundary;
            transition: all .5s ease;

            &:after { // &:before:focus
                left: .25rem;
                color: vars.$tertiary;
            }

            // FORM
            &:before {
                left: -15%;
                width: 130%;
                z-index: -1;
            }
        }
        &:active {
            background-color: color.adjust(vars.$tertiary, $lightness: 5%);
            border-color: color.adjust(vars.$tertiary, $lightness: 5%);
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(vars.$tertiary, .5);
        }

        // FORM - HOVER
        &:before {
            content: "";
            position: absolute;
            width: 0;
            background: vars.$white;
            height: 100%;
            top: 0;
            left: 50%;
            transform: skew(45deg, 0);
            transition: all .6s ease;
        }

        // ICON
        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f138";
            position: relative;
            left: 0.75rem;
            top: .1rem;
            transition: all .4s ease;
        }
    }
}


// CONTAINERS SOLO EN TABLET/DESKTOP
@media (max-width: 767.98px) {
    .flex-center-full {
        padding-top: 3rem;
    }
}
@media (min-width: 768px) {
  .flex-center-full {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}