
// C O M M O N  -  S T Y L E S 


//------------------------------------------------------------
// TEXT - CONTENT
.text-primary {
    color: $primary!important;
}
.text-secundary, .text-grey__dark, .text-secondary {
    color: $grey_dark!important;
}
.text-light {
    color: $grey_light!important;
}
.text-white-light {
    color: rgba($white, 0.85);
}
.text-tertiary {
    color: $red_light;
}

//------------------------------------------------------------
// BACKGROUNDS
.bg-white {
    background-color: $white!important;
}
.bg-primary {
    background-color: $primary!important;
}
.bg-secundary {
    background-color: $grey_dark!important;
}
.bg-secundary-light-1 {
    background-color: lighten( $grey_dark, 3%);
}


//------------------------------------------------------------
// BUTTONS
.btn.lp {
    border-radius: 2rem;
    padding: .6rem 2rem;
    font-weight: bold;
    overflow: hidden;
    z-index: 1;

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
        position: relative;
        box-sizing: border-box;
        border-width: 2px;

        &:hover, &:active, &:active {
            background-color: $white;
            border-color: $primary;
            color: $secundary;
            transition: all .5s ease;

            &:after { // &:before:focus
                left: .25rem;
                color: $primary;
            }

            // FORM
            &:before {
                left: -15%;
                width: 130%;
                z-index: -1;
            }
        }
        &:active {
            background-color: lighten($primary, 5%);
            border-color: lighten($primary, 5%);
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($primary, .5);
        }

        // FORM - HOVER
        &:before {
            content: "";
            position: absolute;
            width: 0;
            background: $white;
            height: 100%;
            top: 0;
            left: 50%;
            transform: skew(45deg, 0);
            transition: all .6s ease;
        }

        // ICON
        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f138";
            position: relative;
            left: 0.75rem;
            top: .1rem;
            transition: all .4s ease;
        }
    }

    &.btn-tertiary {
        background-color: $tertiary;
        border-color: $tertiary;
        position: relative;
        box-sizing: border-box;
        border-width: 2px;
        color: $white;

        &:hover, &:active, &:active {
            background-color: $white;
            border-color: $tertiary;
            color: $secundary;
            transition: all .5s ease;

            &:after { // &:before:focus
                left: .25rem;
                color: $tertiary;
            }

            // FORM
            &:before {
                left: -15%;
                width: 130%;
                z-index: -1;
            }
        }
        &:active {
            background-color: lighten($tertiary, 5%);
            border-color: lighten($tertiary, 5%);
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($tertiary, .5);
        }

        // FORM - HOVER
        &:before {
            content: "";
            position: absolute;
            width: 0;
            background: $white;
            height: 100%;
            top: 0;
            left: 50%;
            transform: skew(45deg, 0);
            transition: all .6s ease;
        }

        // ICON
        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f138";
            position: relative;
            left: 0.75rem;
            top: .1rem;
            transition: all .4s ease;
        }
    }
}