
/* Tarjetas */
.wf-step {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    padding: 25px;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* Hover Pro */
.wf-step:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.08);
    border-bottom: 3px solid #0cc0c4; /* tu turquesa */
}

/* ICONOS */
.wf-icon {
    background: rgba(12,192,196,0.12);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    transition: .3s ease;
}

.wf-icon i {
    font-size: 1.5rem;
    color: #0cc0c4;
}

.wf-step:hover .wf-icon {
    background: rgba(12,192,196,0.18);
}

/* Titulos y textos */
.wf-title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.wf-text {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.4;
}


/* Extra: Frase final */
.workflow-section small {
    color: #7a7a7a;
    font-size: 0.95rem;
}
