// SLIDES
.swiper-container {
    .swiper-slide {
        
        &.img {
            background-size: cover;
            background-position: center center;
            text-align: center;
            top: -1px;
        }
        &.image1 {
            background-image:
            // linear-gradient(
            //   rgba($grey_light, 0.7),
            //   rgba($grey_dark, 0.7)
            // ),
            url('../images/slides/slide_boilerplate.jpg');
        }
        &.image2 {
            background-image:
            url('../images/slides/slide_pc_desktop.jpg');
        }
    
        // Opacity
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: rgba($grey_dark,0.75);
        }        
    } 

    // Pagination
    .swiper-button-prev, .swiper-button-next {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        font-size: 1.5rem; //16px;
        align-items: center;
        color: $white;
        border-radius: 50%;
        background: rgba($grey_dark, 0.65);
        transition: all 0.4s ease-in-out;
        border: 2px solid rgba(transparent, 0);
        outline: 0;

        &:hover {
            color: $primary;
            background: rgba($grey_dark, 0.85);
            border: 2px solid rgba($white, 0.1);
        }
    }
    .swiper-button-prev:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;        
        content: "\f053";
    }

    .swiper-button-next:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;        
        content: "\f054";
    }

    // Bullets - points
    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 1.25rem;
            height: 1.25rem;
            margin: 0 0.5rem;
            background: rgba($primary, 0.9);
            border:2px solid rgba($white, 0.2);
        }
    }
}


@media(min-width: 0) {
    // SLIDES
    .swiper-container {
        .swiper-slide {
            /* 
            Font base = 13px;   450px height.
            rem= 450px / 13px = 34
            */
            height: 38rem;

            .container {
                h2 {
                    font-size: 2.5rem;
                }
            }
        }    

        &:after {
            content: "";
            position: absolute;
            width: 120px;
            height: 52px;
            right: 1rem;
            bottom: 10px;
            display: block;
            background: url(../images/jd_firma.png) no-repeat center;
            background-size: contain;
            z-index: 999;
        }   
    }    
}

@media(min-width: 576px) {
    
}

@media(min-width: 768px) {
    // SLIDES
    .swiper-container {
        .swiper-slide {
            height: 37.5rem; // 600px / 16px origin
        }

        &:after {
            content: "";
            position: absolute;
            width: 182px;
            height: 56px;
            right: 7.25rem;
            bottom: 35px;
            display: block;
            background: url(../images/jd_firma.png) no-repeat center;
            background-size: contain;
            z-index: 999;
        }
    }    
}

@media(min-width: 992px) {
    // SLIDES
    .swiper-container {
        .swiper-slide {
            height: 37.5rem;
        }    
    }
}

@media(min-width: 1200px) {
    // SLIDES
    .swiper-container {
        .swiper-slide {
            height: 44rem;
        }    
    }
}

@media(min-width: 1450px) {

}