
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


// ---------------------------------------------------------------------------------------
// MontSerrat
// B L A C K 
@font-face {
    font-family: 'MontserratBlack';
    src: url('../fonts/textfonts/MontserratBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// B L A C K   I T A L I C
@font-face {
    font-family: 'MontserratBlackItalic';
    src: url('../fonts/textfonts/MontserratBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// B L A C K 
@font-face {
    font-family: 'MontserratBlack';
    src: url('../fonts/textfonts/MontserratBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// B O L D 
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/textfonts/MontserratBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// E X T R A  -  L I G H T 
@font-face {
    font-family: 'MontserratExtraLight';
    src: url('../fonts/textfonts/MontserratExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// E X T R A  -  L I G H T  -  I T A L I C
@font-face {
    font-family: 'MontserratExtraLightItalic';
    src: url('../fonts/textfonts/MontserratExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// L I G H T 
@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/textfonts/MontserratLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// L I G H T  -  I T A L I C
@font-face {
    font-family: 'MontserratLightItalic';
    src: url('../fonts/textfonts/MontserratLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// R E G U L A R
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/textfonts/MontserratRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// R E G U L A R
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/textfonts/MontserratRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// T H I N 
@font-face {
    font-family: 'MontserratThin';
    src: url('../fonts/textfonts/MontserratThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


// ---------------------------------------------------------------------------------------
// Avenir LTS - Text plain normal
@font-face {
    font-family: 'AvenirLTStdLight';
    src: url('../fonts/textfonts/AvenirLTStdLight.eot');
    src: url('../fonts/textfonts/AvenirLTStdLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/textfonts/AvenirLTStdLight.woff') format('woff'),
         url('../fonts/textfonts/AvenirLTStdLight.ttf') format('truetype'),
         url('../fonts/textfonts/AvenirLTStdLight.svg#AvenirLTStdLight') format('svg');
    font-weight: normal;
    font-style: normal;
}