
//-----------------------------------------------
//          C O L O R S
//-----------------------------------------------

// Blue scale | primary
$primary: #00adb5;
$primary_tmp: #00b57e;
// Grey scale
$grey_dark: #23262A;
$secundary: $grey_dark;
$secondary: $secundary;
$tertiary: #F6364F;
$grey_light: #393E46;
// White scale
$white_ultra_light: #F6F6F6;
$white_light_: #EEEEEE;
// CTA, actions
$red_light: #F6364F;
$red_light_darken: #f75b6f;


//****************************
$white: #FFFFFF;

//-----------------------------------------------



/*-----------------------------------------------
1.   T Y P O G R A P H Y 
------------------------------------------------*/
$font_size_resp: 13px;
$font_size_desk: 16px;

$font_avenir_ltsd_light: "AvenirLTStdLight";
