// IMPORTS
@import 'vars';
@import 'typography';
@import 'mixins';
@import 'commons';
// Libs
@import 'libs';
@import 'header';
@import 'slides';
@import 'homePage';
@import 'contactJDForm';
@import 'metodologia_trabajo';
// videos
@import 'videos_slide_container';
// Projects section
@import 'projects_section';
@import 'skills_habilidades_tech';