node_modules/
backend/jdsite/__pycache__/
backend/inquiries/__pycache__/
backend/inquiries/migrations/__pycache__/
backend/.env
env/
venv/
backend/db.sqlite3
backend/staticfiles/
*.pyc
__pycache__/
backend/.env
.env