node_modules/
backend/jdsite/__pycache__/
backend/inquiries/__pycache__/
backend/inquiries/migrations/__pycache__/
backend/.env
env/
venv/
backend/db.sqlite3
backend/staticfiles/
*.pyc
__pycache__/
backend/static/blogs/

# Ignore temporary files and directories
backend/media/blog_editor_temp/
backend/blogs_source/
backend/blogs_source/*/
!backend/blogs_source/.gitkeep

# Gunicorn socket (producción)
run/
