// S W I P E R
.swiper-container {
    width: 100%;
    height: 100%;
}

@media(min-width: 0) {
    .swiper-slide {

    }   
}

@media(min-width: 576px) {
    
}

@media(min-width: 768px) {
    
}

@media(min-width: 992px) {
    
}

@media(min-width: 1200px) {
    
}

@media(min-width: 1450px) {

}